<ng-container *ngIf="itemData">
  <a class="item" [routerLink]="itemData.routePath">
    <div class="item-rating">
      <i class="material-icons">star</i>
      <span>{{ itemData.vote_average }}</span
      >/10
    </div>
    <div class="item-image">
      <ng-container *ngIf="itemData?.poster_path; else loadNotFoundImg">
        <img [src]="imagesSizes.medium + itemData.poster_path" [alt]="itemData.title" />
      </ng-container>
      <ng-template #loadNotFoundImg>
        <img [src]="posterImgNotFound" [alt]="itemData.title">
      </ng-template>
    </div>
    <div class="item-title">{{ itemData.title }}</div>
  </a>
</ng-container>