<div class="container" *ngIf="loadContent else loadSkeleton">
  <h1>Movies Categories</h1>
  <div class="grid">
    <div *ngFor="let genre of genres" class="col-6 md:col-3 lg:col-2">
      <a class="genre-link" [routerLink]="'/movies/categories/' + genre.id" [state]="{ title: genre.name}">
        {{ genre.name }}
      </a>
    </div>
  </div>

  <h1>Tv Shows Categories</h1>
  <div class="grid">
    <div *ngFor="let genre of genresTv" class="col-6 md:col-3 lg:col-2">
      <a class="genre-link" [routerLink]="'/tv-shows/categories/' + genre.id" [state]="{ title: genre.name}">
        {{ genre.name }}
      </a>
    </div>
  </div>
</div>

<ng-template #loadSkeleton>
  <div class="container" *ngFor="let item of [1, 2]">
    <div class="grid" *ngFor="let item of [1, 2, 3, 4]">
      <div class="col-6 md:col-2 lg:col-2" *ngFor="let item of [1, 2, 3, 4, 5, 6]">
        <p-skeleton width="100%" height="50px" borderRadius="16px"></p-skeleton>
      </div>
    </div>
  </div>
</ng-template>