$bgColor: #141414;
$bgColorLight: #212121;
$white: #fff;
$lightGray: #999;
$paleYellowColor: #ffd54f;
$primaryColor: #81C784; 
$starColor: #d4af37;

$breakpoint-xs: 640px;
$breakpoint-s: 768px;
$breakpoint-m: 1024px;
$breakpoint-l: 1200px;
$breakpoint-xl: 1400px;
