@import '../../../styles/colors';

// changes only for this component
:host ::ng-deep {
  .p-tabview-nav {
    justify-content: center;

    li {
      .p-tabview-nav-link {
        background: $bgColor;
      }

      &.p-highlight .p-tabview-nav-link {
        background: $bgColor;
      }
    }
  }

  .p-image-preview-icon {
    color: $primaryColor;
  }

  .p-overlaypanel {
    width: 60vw;
  }  
}

// classes will be available globally
::ng-deep{
  .show-company-dialog {
    width: 60vw;
  }

  .company-dialog-chip {
    margin-bottom: .5rem;
    margin-right: .5rem;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #fff;
  }
} 



.poster {
  max-width: 100%;
}

.overview {
  line-height: 1.5;
}

.stat {
  display: flex;
  margin-bottom: 15px;
  .label {
    width: 150px;
    font-weight: bold;
  }

  .value {
    color: $primaryColor;
  }

  .elipsis {
    cursor: pointer;
  }
}

.actor {
  padding: 10px;
  img {
    width: 100%;
  }
  span {
    display: block;
    text-align: center;
    margin: 10px 0;
  }
}